

.colours {

color: 

/* Greys */
#333333
#444444
#525050
#5f5f5f
#8f8f8f
#808080
#afafaf
#b5b5b5
#cccccc
whitesmoke
white

/* Ability Scores */
#5f2292
#7026ac
#5165B9
#31a3c5

/* HP */
#0e9255
#1cc613

/* XP */
#ff7300
#ffee00

/* Buffed*/

#7ecc49

/* debuffed*/

#cc4949

/* Gold */
#fad687

}
/*
acid <i class="fas fa-vial"></i>

cold <i class="far fa-snowflake"></i>

fire <i class="fas fa-fire"></i>

force <i class="fas fa-meteor"></i> <i class="fas fa-hand-paper"></i> <i class="fas fa-certificate"></i> <i class="fas fa-dot-circle"></i>

lightning <i class="fas fa-bolt"></i>

necrotic <i class="fas fa-skull"></i>

poison <i class="fas fa-skull-crossbones"></i>

psychic <i class="fas fa-brain"></i>

radiant <i class="fas fa-sun"></i>

thunder <i class="fas fa-bullseye"></i>

bludgeoning <i class="fas fa-gavel"></i>

slashing <i class="fas fa-moon"></i> <i class="fas fa-slash"></i>

piercing <i class="fas fa-location-arrow"></i>

*/